

.cards-row {
  margin: 0px auto;
}

.card {
  display: inline-block;
  width: 30%;
  min-width: 400px;
  box-sizing: border-box;
  box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  margin: 1em 1.5%;
  animation: scl 0.5s ease-in-out;
  transform-origin: left center;
  background-color: #fff;
}
.card-title {
  margin-top: -1.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  color: #fff;
  font-size: 2em;
}
.card-image {
  width: 100%;
  height: 162px;
}
.card-desc {
  padding: 0 1em 1em 1em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  height: 75px;
  overflow: hidden;
  text-align: justify;
}
.card-action-readMore {
  margin: 1em 0 1em 1em;
  height: 3em;
  width: 8em;
  background: #ff1d8e;
  border: none;
  font-weight: light;
  color: #fff;
  position: relative;
  overflow: hidden;
  outline: none;
  border-radius: 2px;
}
.card-action-readMore:hover {
  background: rgba(255, 29, 142, 0.8);
  transition: all 0.1s ease-in;
}
.card:hover {
  box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in;
}

.ripple {
  border-radius: 50%;
  background: #ff8ec7;
  position: absolute;
  transform: scale(0);
  opacity: 1;
  animation: ripple 0.4s linear;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes scl {
  0% {
    opacity: 0;
    transform: scaleX(0.9) translateX(-50px);
  }
  75% {
    opacity: 0.2;
  }
  100% {
    transform: scaleX(1) translateX(0);
    opacity: 1;
  }
}